<!DOCTYPE html>
<html lang="et" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>Smart-ID Demo</strong>
                </a>
                <a href="https://github.com/SK-EID/smart-id-documentation/wiki/Environment-technical-parameters" target="_blank"
                   class="navbar-brand d-flex align-items-center">
                    <strong>Test persons</strong>
                </a>
            </div>
        </div>
    </header>
</div>
</body>
</html>