<th:block th:fragment="mockUserAction()">

    <div class="form-group">
        <label class="form-label d-block">Mock user action for:</label>

        <small class="form-text text-muted">
            Selection is currently disabled. Will be made available later.
        </small>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   th:field="*{userActionMock}"
                   id="choice-none"
                   value="NONE" disabled/>
            <label class="form-check-label" for="choice-none"
                   title="For testing with your own phone. If your are using demo env then you need Smart-ID Demo app" >None</label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   th:field="*{userActionMock}"
                   id="choice-qr-code"
                   value="QR_CODE" disabled/>
            <label class="form-check-label" for="choice-qr-code">QR-Code</label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   th:field="*{userActionMock}"
                   id="choice-web-2-app"
                   value="WEB2APP" disabled/>
            <label class="form-check-label" for="choice-web-2-app"
                   title="Callback page must be accessible by mocking interface">Web2App</label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   th:field="*{userActionMock}"
                   id="choice-app-2-app"
                   value="APP2APP" disabled/>
            <label class="form-check-label" for="choice-app-2-app"
                   title="Callback page must be accessible by mocking interface">App2App</label>
        </div>

        <!-- Validation errors (optional) -->
        <div class="invalid-feedback d-block"
             th:if="${#fields.hasErrors('userActionMock')}"
             th:errors="*{userActionMock}">Error
        </div>
    </div>
</th:block>