<!DOCTYPE html>
<html lang="et" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart-ID</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container-fluid d-flex flex-column align-items-center justify-content-center h-100">
    <div class="container view-content ">
        <div class="container text-center mt-3">
            Control code is:
            <h1 class="responsive-text" th:text="${verificationCode}"></h1>
            <p>
                To sign the uploaded document, enter the Smart-ID PIN2 into your phone after you receive a SMS with the same control code you can see
                here.
            </p>
            <div class="container w-50 d-flex align-items-center justify-content-center">
                <span class="spinner-border" role="status" aria-hidden="true"></span>
                <strong class="m-3">Waiting for PIN ...</strong>
            </div>
        </div>
        <div class="container text-center">
            <a th:href="@{/v3/cancel-signing}" class="btn btn-outline-dark">Cancel</a>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript">
    function loadContent() {
        fetch('/v3/notification-based/check-signing-status')
            .then(response => response.json())
            .then(data => {
                if (data.errorMessage !== undefined) {
                    window.location.href = '/v3/session-error?errorMessage=' + data.errorMessage;
                } else if (data.sessionStatus === 'COMPLETED') {
                    window.location.href = '/v3/signing-result';
                } else {
                    setTimeout(loadContent, 1000);
                }
            })
            .catch(error => console.log('Error:', error));
    }

    window.onload = loadContent;
</script>
</body>

</html>