body, html {
    height: 100%;
    margin: 0;
}

body {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.sticky-tabs {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.content-area {
    overflow: hidden;
}

.view-content {
    max-width: 800px;
}