<!DOCTYPE html>
<html lang="et" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart-ID</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="text-center py-5">
    <div class="container">
        <h1>Smart-ID demo</h1>
        <p class="lead">
            This application will demonstrate the use of Smart-ID with the RP API v2 and v3. <br>
            Please select the RP API version you would like to use.
        </p>
        <a href="/rp-api-v3" class="btn btn-primary btn-lg">RP API v3</a>
        <a href="/rp-api-v2" class="btn btn-outline-secondary btn-lg">RP API v2</a>
    </div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>

</html>